.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  min-width: 280px;
  max-width: 350px;

  padding: 14px 16px;
  border-radius: 8px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.3s ease;
}

/* TYPES */
.toast.success {
  background: #16a34a;
  color: #ffffff;
}

.toast.error {
  background: #c51f1f;
  color: #ffffff;
}

.toast.info {
  background: #2563eb;
}

/* CLOSE BUTTON */
.toast-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  margin-left: 12px;
  cursor: pointer;
}

/* ANIMATION */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 10px;
}